/*------------------------------\
    Layouts - Footer 
\------------------------------*/

.footer {
    background-color: $footer-bg-color;
    margin-top: rem(-4);
    padding: rem(60) 0 rem(80) 0;
    text-align: center;

    .logo {
        margin-bottom: rem(33);
    }
    
    .social {
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: rem(50);
        max-width: rem(114);
    }
}