/*------------------------------\
    Layouts - Header
\------------------------------*/

header {
  @include media-md {
    margin-top: rem(80);
    display: grid;
    grid-template-columns: medium(573) medium(281);
  }
}

.header {
    @include margin;
    margin-top: rem(58.11);

    @include media-md {
      position: relative;
      z-index: 100;
    }
    
    h1 {
      background-image: url("../assets/pattern-curved-line-1.svg");
      background-position: top 0 right small(37.53);
      background-size: 151.47px;
      background-repeat: no-repeat;
      padding-top: rem(25.21);
    }
  
    p {
      margin-bottom: rem(44);
      margin-top: rem(38);
    }
  
    
  }
  .hero-image {
    background-image: url('../assets/image-hero-landscape.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: small(240);
    margin: auto;
    margin-bottom: rem(56);
    margin-top: rem(55.68);
    width: small(343);

    @include media-md {
      background-image: url('../assets/image-hero-portrait.png');
      background-size: contain;
      height: medium(482);
      width: medium(281);
      margin: 0;
      margin-left: medium(-120);
    }

  }
  
  .stats {
  
    text-align: center;

    @include media-md {
      column-span: all;
    }
  
  
    li {
      margin-bottom: rem(42);
    }
  }
  
  