/*------------------------------\
    Layouts - Navigation
\------------------------------*/

nav {
    @include margin;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: rem(24);

    @include media-md {
        margin-top: rem(40);
    }
}