@mixin media-md {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin margin {
  margin-left: small(16);
  margin-right: small(16);

  @include media-md {
    margin-left: medium(40);
    margin-right: medium(40);
  } 
}


