// variables - colors - color palette
$off-white: hsla(30, 33%, 93%, 1);
$white: hsla(30, 29%, 97%, 1);
$very-dark-blue: hsla(219, 43%, 16%, 1);
$dark-blue-gray: hsla(218, 20%, 36%, 1);
// variables - colors - text colors
$text-color: $dark-blue-gray;
$bold-text-color: $very-dark-blue;
$light-text-color: $white;
$medium-light-text-color: $off-white;
